body,p,h1,h2,h3,h4{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.clear:after{
	content: "";
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
}
a{
	text-decoration: none;
}
span{
	display:inline-block;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}

// .header{
// 	.logo{
// 		display:inline-block;
// 		background: url('../img/default_icon_bg.png') no-repeat 0px -1px;
// 		width: 421px;
// 		height: 63px;
// 		margin-top: 34px;
// 		margin-left: 80px;
// 	}
// }

.main{
	.wrap{
		border-bottom: 2px solid #ce3c3b;
	}
	.left{
		float: left;
		img{
			width: 380px;
			height: 380px;
			margin-top:80px;
		}
	}
	.right{
		float: left;
		margin-top:80px;
		margin-left:50px;
		margin-bottom: 100px;
		width: 500px;
		height: 320px;
		background: #fafafa;
		padding: 40px 90px;
		input{
			margin-left:10px;
		}
		label{
			display:inline-block;
			width: 50px;
			color:#666;
			font-size: 14px;
			margin-top:30px;
		}
		#user,#pwd{
			width: 230px;
			height: 30px;
		}
		#code{
			width: 70px;
			height: 30px;
		}
		.result{
			height: 26px;
			line-height:26px;
			padding:4px;
			color:#333;
			letter-spacing: 6px;
			margin-left:20px;
			background: #ddd;
			vertical-align: bottom;
		}
		.log{
			width: 89px;
			height: 38px;
			background: url('../html/img/xb.png') no-repeat 0 -198px;
			border:none;
			cursor:pointer;
			font-size:16px;
			margin-left:100px;
			margin-top:20px;
		}
		a{
			display:inline-block;
			font-size:14px;
			margin-left:20px;
			color:red;
			&:hover{
				text-decoration:underline;
			}
		}
		p{
			margin-top:20px;
			margin-left:20px;
		}

		.userspan,.pwdspan,.repspan{

			color:#ea0101;
		}
		
	}
}

