.banner {
  width: 100%;
  height: 550px;
  background: url("../img/banner1.jpg") no-repeat;
  cursor: pointer;
}

.main {
  padding-top: 30px;
  background-color: #f6f6f6;
}

.main .wrap {
  background-color: #fff;
}

.main .news {
  float: right;
  margin-right: 14px;
}

.main .news li {
  list-style: square;
}

.main .news li a {
  color: #777;
  font-size: 14px;
}

.main .news li a.active {
  color: red;
}

.main .news h4 {
  margin-top: 10px;
}

.main .news h4 span {
  margin-left: 8px;
  color: #ddd;
}

.main .news img {
  display: block;
  margin-top: 10px;
}

.main .pinpai {
  float: left;
}

.main .pinpai ul {
  width: 974px;
  border-bottom: 1px solid #DFDFDF;
}

.main .pinpai ul li:nth-child(7n) a {
  border-right: 1px solid #DFDFDF;
}

.main .pinpai ul li {
  float: left;
  text-align: center;
}

.main .pinpai ul i {
  display: inline-block;
  height: 50px;
}

.main .pinpai ul a {
  display: block;
  width: 138px;
  height: 64px;
  padding-top: 6px;
  border: 1px solid #DFDFDF;
  border-right: none;
  border-bottom: none;
}

.main .pinpai ul a:hover {
  transition: background 0.6s;
  background: #e6e6e6;
}

.main .pinpai ul a.nike i {
  width: 60px;
  background: url("../img/pinpai.png") no-repeat 0 -186px;
}

.main .pinpai ul a.adi i {
  width: 90px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pinpai ul a.sanye i {
  width: 44px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1020px -340px;
}

.main .pinpai ul a.neo i {
  height: 54px;
  width: 35px;
  background: url("../img/pinpai.png") no-repeat -1177px -337px;
}

.main .pinpai ul a.nb i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -830px -185px;
}

.main .pinpai ul a.kw i {
  height: 54px;
  width: 56px;
  background: url("../img/pinpai.png") no-repeat 0px -264px;
}

.main .pinpai ul a.ksq i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -832px -268px;
}

.main .pinpai ul a.pm i {
  width: 63px;
  height: 56px;
  background: url("../img/pinpai.png") no-repeat -1167px -182px;
}

.main .pinpai ul a.rb i {
  width: 86px;
  background: url("../img/pinpai.png") no-repeat -992px -18px;
}

.main .pinpai ul a.as i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -660px -343px;
}

.main .pinpai ul a.dc i {
  height: 54px;
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -842px -487px;
}

.main .pinpai ul a.um i {
  width: 76px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1150px -490px;
}

.main .pinpai ul a.anta i {
  width: 45px;
  background: url("../img/pinpai.png") no-repeat -500px -186px;
}

.main .pinpai ul a.ln i {
  width: 56px;
  background: url("../img/pinpai.png") no-repeat -316px -192px;
}

.main .pinpai ul a.fs i {
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -150px -268px;
}

.main .pinpai ul a.nba i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -1000px -495px;
}

.main .pinpai ul a.tlz i {
  height: 58px;
  width: 106px;
  background: url("../img/pinpai.png") no-repeat -812px -340px;
}

.main .pinpai ul a.ldw i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -485px -108px;
}

.main .pinpai ul a.nikechild i {
  width: 66px;
  background: url("../img/pinpai.png") no-repeat -148px -490px;
}

.main .pinpai ul a.adichild i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pinpai ul a.dsn i {
  height: 54px;
  width: 54px;
  background: url("../img/pinpai.png") no-repeat 0 -488px;
}

.main .zhuanqu {
  background: #f6f6f6;
  overflow: hidden;
  padding-top: 10px;
}

.main .zhuanqu li {
  float: left;
  margin-right: 11px;
  width: 230px;
  text-align: center;
}

.main .zhuanqu li:last-child {
  margin-right: 0;
}

.main .zhuanqu a {
  display: inline-block;
  width: 230px;
  height: 290px;
  box-sizing: border-box;
}

.main .zhuanqu a:hover {
  border: 3px solid #cc0000;
  transition: all 0.2s;
  opacity: 1;
}

.main .zhuanqu a:hover img {
  margin-top: -3px;
}

.main .zhuanqu img {
  position: relative;
  top: 3px;
  width: 224px;
  height: 284px;
}

.main .floor {
  height: 500px;
  background-color: red;
}

.main .pp {
  background-color: #f6f6f6;
  overflow: hidden;
}

.main .pp .pinpai2 {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  float: left;
}

.main .pp .pinpai2 ul {
  padding: 0 1px;
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
}

.main .pp .pinpai2 ul li {
  float: left;
  text-align: center;
}

.main .pp .pinpai2 ul i {
  display: inline-block;
  height: 50px;
}

.main .pp .pinpai2 ul a {
  display: block;
  width: 118px;
  height: 64px;
  padding-top: 6px;
  border: 1px solid #DFDFDF;
  border-right: none;
  border-top: none;
}

.main .pp .pinpai2 ul a:hover {
  transition: background 0.6s;
  background: #e6e6e6;
}

.main .pp .pinpai2 ul a.nike i {
  width: 60px;
  background: url("../img/pinpai.png") no-repeat 0 -186px;
}

.main .pp .pinpai2 ul a.adi i {
  width: 90px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pp .pinpai2 ul a.sanye i {
  width: 44px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1020px -340px;
}

.main .pp .pinpai2 ul a.neo i {
  height: 54px;
  width: 35px;
  background: url("../img/pinpai.png") no-repeat -1177px -337px;
}

.main .pp .pinpai2 ul a.nb i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -830px -185px;
}

.main .pp .pinpai2 ul a.kw i {
  height: 54px;
  width: 56px;
  background: url("../img/pinpai.png") no-repeat 0px -264px;
}

.main .pp .pinpai2 ul a.ksq i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -832px -268px;
}

.main .pp .pinpai2 ul a.pm i {
  width: 63px;
  height: 56px;
  background: url("../img/pinpai.png") no-repeat -1167px -182px;
}

.main .pp .pinpai2 ul a.rb i {
  width: 86px;
  background: url("../img/pinpai.png") no-repeat -992px -18px;
}

.main .pp .pinpai2 ul a.as i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -660px -343px;
}

.main .pp .pinpai2 ul a.dc i {
  height: 54px;
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -842px -487px;
}

.main .pp .pinpai2 ul a.um i {
  width: 76px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1150px -490px;
}

.main .pp .pinpai2 ul a.anta i {
  width: 45px;
  background: url("../img/pinpai.png") no-repeat -500px -186px;
}

.main .pp .pinpai2 ul a.ln i {
  width: 56px;
  background: url("../img/pinpai.png") no-repeat -316px -192px;
}

.main .pp .pinpai2 ul a.fs i {
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -150px -268px;
}

.main .pp .pinpai2 ul a.nba i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -1000px -495px;
}

.main .pp .pinpai2 ul a.tlz i {
  height: 58px;
  width: 106px;
  background: url("../img/pinpai.png") no-repeat -812px -340px;
}

.main .pp .pinpai2 ul a.ldw i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -485px -108px;
}

.main .pp .pinpai2 ul a.nikechild i {
  width: 66px;
  background: url("../img/pinpai.png") no-repeat -148px -490px;
}

.main .pp .pinpai2 ul a.adichild i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pp .pinpai2 ul a.dsn i {
  height: 54px;
  width: 54px;
  background: url("../img/pinpai.png") no-repeat 0 -488px;
}
