@charset "UTF-8";
body, p, h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  font-family: "宋体";
}

.header .loginbar {
  height: 30px;
  background-color: #eee;
}

.header .loginbar ul {
  float: right;
}

.header .loginbar ul li {
  float: left;
  position: relative;
  width: 100px;
  height: 16px;
  border-right: 1px solid #d5d5d5;
  margin-top: 7px;
  box-sizing: border-box;
  text-align: center;
}

.header .loginbar ul li.firstLi, .header .loginbar ul li.secondLi {
  width: 200px;
  font-size: 12px;
}

.header .loginbar ul li.firstLi a, .header .loginbar ul li.secondLi a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 4px;
  color: #c00;
}

.header .loginbar ul li.myShoes div, .header .loginbar ul li.phoneShoes div {
  display: none;
  width: 164px;
  position: absolute;
  right: 0px;
  top: 18px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 1;
}

.header .loginbar ul li.phoneShoes div {
  width: 280px;
}

.header .loginbar ul li.phoneShoes div img {
  margin: 10px;
}

.header .loginbar ul li.myShoes div a {
  display: inline-block;
  text-align: left;
  border-bottom: 1px dotted #ddd;
  padding: 0 10px;
  width: 50px;
  height: 30px;
  line-height: 30px;
}

.header .loginbar ul li.myShoes div a:hover {
  background-color: #fff6d4;
}

.header .loginbar ul li.myShoes:hover div, .header .loginbar ul li.phoneShoes:hover div {
  display: block;
}

.header .loginbar ul li.myShoes > a, .header .loginbar ul li.phoneShoes > a {
  z-index: 3;
  height: 25px;
  line-height: 30px;
  margin-top: -7px;
}

.header .loginbar ul li.myShoes:hover > a, .header .loginbar ul li.phoneShoes:hover > a {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: #fff;
  position: relative;
  background-color: #fff;
}

.header .loginbar ul li.contact {
  margin-left: 10px;
  width: 140px;
  height: 18px;
  background: url(../img/default_icon_bg.png) no-repeat -314px -64px;
}

.header .loginbar ul li.contactMe span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/default_icon_bg.png) no-repeat -504px -42px;
  vertical-align: bottom;
}

.header .loginbar .login {
  border-right: none;
}

.header .loginbar .login, .header .loginbar .register {
  color: #f60;
}

.header .loginbar a {
  display: block;
  font-size: 12px;
  color: #666;
}

.header .loginbar a:hover {
  color: #f60;
  text-decoration: underline;
}

.header .logo {
  width: 100%;
  height: 76px;
}

.header .logo .img {
  margin-top: 10px;
  width: 421px;
  height: 63px;
  background: url(../img/default_icon_bg.png) no-repeat 0px -1px;
}

.header .logo .search {
  display: inline-block;
  margin-left: 110px;
  vertical-align: top;
  margin-top: 16px;
}

.header .logo .search input {
  width: 270px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: bottom;
}

.header .logo .search button {
  font-size: 16px;
  width: 65px;
  height: 30px;
  background-color: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: -10px;
}

.header .logo .search p {
  margin-top: 10px;
  font-size: 12px;
  color: #ccc;
}

.header .logo .search a {
  color: #888;
}

.header .logo .search a:hover {
  color: #c00;
  text-decoration: underline;
}

.header .logo .shopCar {
  display: inline-block;
  width: 126px;
  height: 34px;
  vertical-align: top;
  margin: 20px 0 0 180px;
  position: relative;
}

.header .logo .shopCar a {
  width: 126px;
  height: 34px;
  color: #666;
  font-weight: bold;
}

.header .logo .shopCar a:hover > span:first-child {
  background: url(../img/default_icon_bg.png) no-repeat 0px -98px;
}

.header .logo .shopCar a:hover {
  color: white;
}

.header .logo .shopCar a > span:first-child {
  width: 126px;
  height: 34px;
  background: url(../img/default_icon_bg.png) no-repeat 0px -64px;
}

.header .logo .shopCar a > span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 76px;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
}

.header .logo .shopCar a > span:last-child span {
  vertical-align: bottom;
  margin: 0 3px;
  font-size: 18px;
  color: #c00;
}

.header .nav {
  height: 34px;
  background: #a21f25;
  color: white;
}

.header .nav ul.hot, .header .nav ul.type {
  text-align: center;
  float: left;
}

.header .nav ul.hot > li, .header .nav ul.type > li {
  float: left;
  height: 16px;
  margin-top: 11px;
  background: url("../img/border.png") no-repeat;
  /* 商品分类的ul */
}

.header .nav ul.hot > li.wc, .header .nav ul.type > li.wc {
  margin-top: 0;
  height: 34px;
  position: relative;
}

.header .nav ul.hot > li.wc .wccode, .header .nav ul.type > li.wc .wccode {
  width: 165px;
  height: 165px;
  position: absolute;
  left: 0;
  top: 34px;
  display: none;
  background: url("../img/wx2.png") no-repeat;
}

.header .nav ul.hot > li.wc:hover .wccode, .header .nav ul.type > li.wc:hover .wccode {
  display: block;
}

.header .nav ul.hot > li > a, .header .nav ul.type > li > a {
  font-size: 14px;
  margin-top: -11px;
  color: white;
  display: block;
  line-height: 34px;
  padding: 0 19px;
}

.header .nav ul.hot > li > a.active, .header .nav ul.type > li > a.active {
  background-color: #333;
}

.header .nav ul.hot > li:hover > ul, .header .nav ul.type > li:hover > ul {
  z-index: 10;
  display: block;
}

.header .nav ul.hot > li > ul, .header .nav ul.type > li > ul {
  display: none;
  position: relative;
}

.header .nav ul.hot > li > ul > li, .header .nav ul.type > li > ul > li {
  /* 某种商品hover出来的ul */
  /* 某种商品hover出来的ul */
}

.header .nav ul.hot > li > ul > li > a, .header .nav ul.type > li > ul > li > a {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #333;
  text-align: left;
  padding-left: 30px;
  /* 商品类型的小三角形图标 */
}

.header .nav ul.hot > li > ul > li > a img, .header .nav ul.type > li > ul > li > a img {
  margin-right: 10px;
}

.header .nav ul.hot > li > ul > li > a i, .header .nav ul.type > li > ul > li > a i {
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
  border-style: solid;
  border-width: 0px 4px 4px;
  transform: rotate(90deg);
  border-color: #fff transparent;
}

.header .nav ul.hot > li > ul > li ul, .header .nav ul.type > li > ul > li ul {
  width: 300px;
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 0;
  color: #333;
  background: #fbfbfb;
  opacity: 0.95;
  font-weight: bold;
  font-size: 12px;
  display: none;
}

.header .nav ul.hot > li > ul > li:hover > a, .header .nav ul.type > li > ul > li:hover > a {
  background: #a90000;
}

.header .nav ul.hot > li > ul > li:hover i, .header .nav ul.type > li > ul > li:hover i {
  display: block;
}

.header .nav ul.hot > li > ul > li:hover div, .header .nav ul.type > li > ul > li:hover div {
  transform: translate(2px);
  transition: transform 0.1s linear;
}

.header .nav ul.hot > li > ul > li:hover ul, .header .nav ul.type > li > ul > li:hover ul {
  text-align: left;
  display: block;
}

.header .nav ul.hot > li > ul > li:hover ul p, .header .nav ul.type > li > ul > li:hover ul p {
  overflow: hidden;
  border-bottom: 2px solid #8d8d8d;
}

.header .nav ul.hot > li > ul > li:hover ul p a, .header .nav ul.type > li > ul > li:hover ul p a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: none;
  margin-bottom: 2px;
}

.header .nav ul.hot > li > ul > li:hover ul p a img, .header .nav ul.type > li > ul > li:hover ul p a img {
  vertical-align: bottom;
  margin-right: 10px;
}

.header .nav ul.hot > li > ul > li:hover ul p a:last-child, .header .nav ul.type > li > ul > li:hover ul p a:last-child {
  float: right;
  font-size: 12px;
}

.header .nav ul.hot > li > ul > li:hover ul p a:first-child, .header .nav ul.type > li > ul > li:hover ul p a:first-child {
  font-size: 14px;
  float: left;
}

.header .nav ul.hot > li > ul > li:hover ul a, .header .nav ul.type > li > ul > li:hover ul a {
  display: inline-block;
  font-size: 14px;
  background: white;
  color: black;
  margin: 6px;
}

.header .nav ul.hot > li > ul > li:hover ul a.hot, .header .nav ul.type > li > ul > li:hover ul a.hot {
  color: #f60;
}

.header .nav ul.hot > li > ul > li:hover ul a:hover, .header .nav ul.type > li > ul > li:hover ul a:hover {
  color: #f60;
  text-decoration: underline;
}

.header .nav ul.type > li:hover a {
  background-color: #333;
}

.header .nav ul.hot {
  margin-left: 90px;
}

.header .nav ul.hot a {
  font-size: 12px;
  padding: 0 10px;
}

.header .nav ul.hot li:last-child a {
  color: #FC0;
  border-right: none;
}

.header .nav ul.hot a:hover {
  color: #FC0;
  text-decoration: underline;
}

.header .nav ul.type > li:first-child {
  margin: 0px;
  border-right: none;
}

.header .nav ul.type > li:first-child > span {
  width: 190px;
  height: 34px;
  font-weight: bold;
  line-height: 34px;
  border-right: none;
  background: #B9363D;
}

.main {
  /* 页面底部公用的品牌模块 */
  /* 页面右边公用的选择模块 */
}

.main .pp {
  background-color: #f6f6f6;
  overflow: hidden;
}

.main .pp .pinpai2 {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  float: left;
}

.main .pp .pinpai2 ul {
  padding: 0 1px;
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
}

.main .pp .pinpai2 ul li {
  float: left;
  text-align: center;
}

.main .pp .pinpai2 ul i {
  display: inline-block;
  height: 50px;
}

.main .pp .pinpai2 ul a {
  display: block;
  width: 118px;
  height: 64px;
  padding-top: 6px;
  border: 1px solid #DFDFDF;
  border-right: none;
  border-top: none;
}

.main .pp .pinpai2 ul a:hover {
  transition: background 0.6s;
  background: #e6e6e6;
}

.main .pp .pinpai2 ul a.nike i {
  width: 60px;
  background: url("../img/pinpai.png") no-repeat 0 -186px;
}

.main .pp .pinpai2 ul a.adi i {
  width: 90px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pp .pinpai2 ul a.sanye i {
  width: 44px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1020px -340px;
}

.main .pp .pinpai2 ul a.neo i {
  height: 54px;
  width: 35px;
  background: url("../img/pinpai.png") no-repeat -1177px -337px;
}

.main .pp .pinpai2 ul a.nb i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -830px -185px;
}

.main .pp .pinpai2 ul a.kw i {
  height: 54px;
  width: 56px;
  background: url("../img/pinpai.png") no-repeat 0px -264px;
}

.main .pp .pinpai2 ul a.ksq i {
  width: 72px;
  background: url("../img/pinpai.png") no-repeat -832px -268px;
}

.main .pp .pinpai2 ul a.pm i {
  width: 63px;
  height: 56px;
  background: url("../img/pinpai.png") no-repeat -1167px -182px;
}

.main .pp .pinpai2 ul a.rb i {
  width: 86px;
  background: url("../img/pinpai.png") no-repeat -992px -18px;
}

.main .pp .pinpai2 ul a.as i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -660px -343px;
}

.main .pp .pinpai2 ul a.dc i {
  height: 54px;
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -842px -487px;
}

.main .pp .pinpai2 ul a.um i {
  width: 76px;
  height: 52px;
  background: url("../img/pinpai.png") no-repeat -1150px -490px;
}

.main .pp .pinpai2 ul a.anta i {
  width: 45px;
  background: url("../img/pinpai.png") no-repeat -500px -186px;
}

.main .pp .pinpai2 ul a.ln i {
  width: 56px;
  background: url("../img/pinpai.png") no-repeat -316px -192px;
}

.main .pp .pinpai2 ul a.fs i {
  width: 50px;
  background: url("../img/pinpai.png") no-repeat -150px -268px;
}

.main .pp .pinpai2 ul a.nba i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -1000px -495px;
}

.main .pp .pinpai2 ul a.tlz i {
  height: 58px;
  width: 106px;
  background: url("../img/pinpai.png") no-repeat -812px -340px;
}

.main .pp .pinpai2 ul a.ldw i {
  width: 68px;
  background: url("../img/pinpai.png") no-repeat -485px -108px;
}

.main .pp .pinpai2 ul a.nikechild i {
  width: 66px;
  background: url("../img/pinpai.png") no-repeat -148px -490px;
}

.main .pp .pinpai2 ul a.adichild i {
  width: 80px;
  background: url("../img/pinpai.png") no-repeat -310px -490px;
}

.main .pp .pinpai2 ul a.dsn i {
  height: 54px;
  width: 54px;
  background: url("../img/pinpai.png") no-repeat 0 -488px;
}

.main .fixRight {
  width: 280px;
  background: #7a6e6e;
  position: fixed;
  right: -270px;
  top: 0;
  height: 100%;
  z-index: 10;
}

.main .fixRight .show {
  right: 0;
}

.main .fixRight .cover {
  position: absolute;
  background: #7a6e6e;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main .fixRight .cover .footer {
  width: 269px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 0;
  background: #eceaea;
}

.main .fixRight .cover .footer .left {
  float: left;
  width: 150px;
  padding-left: 4px;
  padding-top: 4px;
  font-size: 14px;
}

.main .fixRight .cover .footer .left span {
  color: #c81623;
}

.main .fixRight .cover .footer .right {
  float: left;
}

.main .fixRight .cover .footer .right a {
  display: inline-block;
  width: 110px;
  height: 35px;
  background: #c81623;
  font-size: 16px;
  font-family: "微软雅黑";
  color: white;
  line-height: 35px;
  text-align: center;
  margin-top: 7px;
}

.main .fixRight .cover .content {
  margin-left: 10px;
  width: 270px;
  background: #eceaea;
  height: 100%;
  overflow-y: auto;
  height: 750px;
  /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
  /*定义滚动条的轨道，内阴影及圆角*/
  /*定义滑块，内阴影及圆角*/
}

.main .fixRight .cover .content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

.main .fixRight .cover .content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.main .fixRight .cover .content::-webkit-scrollbar-thumb {
  /*width: 10px;*/
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.main .fixRight .cover .content .goods {
  overflow: hidden;
  background: #fff;
  margin-bottom: 10px;
  height: 52px;
  padding: 10px 6px;
}

.main .fixRight .cover .content .goods div {
  float: left;
}

.main .fixRight .cover .content .goods div:first-child {
  border: 1px solid #ddd;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.main .fixRight .cover .content .goods div:last-child {
  margin-left: 6px;
}

.main .fixRight .cover .content .goods div:last-child .name {
  font-size: 12px;
  width: 190px;
  height: 35px;
  background: #fff;
  color: #333;
  overflow: hidden;
}

.main .fixRight .cover .content .goods div:last-child .name:hover {
  color: #c81623;
}

.main .fixRight .cover .content .goods div:last-child p {
  height: 26px;
  color: #c81623;
  font-size: 14px;
}

.main .fixRight .cover .content .goods div:last-child p a {
  width: 40px;
  height: 30px;
  display: inline-block;
  background: #fff;
  color: blue;
  float: right;
}

.main .fixRight .cover .content .goods div:last-child p a:hover {
  text-decoration: underline;
  color: #c81623;
}

.main .fixRight .cover .content img {
  width: 50px;
  height: 50px;
}

.main .fixRight .cover .head {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  color: #333;
}

.main .fixRight .cover .head span {
  width: 20px;
  height: 20px;
  margin: 10px;
  background: url("../img/fixrightbg.png") no-repeat;
  vertical-align: bottom;
  margin-right: 20px;
}

.main .fixRight .box {
  width: 35px;
  position: absolute;
  top: 260px;
  left: -34px;
}

.main .fixRight a {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #7a6e6e;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 1px;
  position: relative;
  color: white;
}

.main .fixRight a.user i {
  background: #7a6e6e url("../img/fixrightbg.png") no-repeat -88px -174px;
}

.main .fixRight a.shopCar i {
  background: #7a6e6e url("../img/fixrightbg.png") no-repeat -50px 0px;
}

.main .fixRight a.care i {
  background: #7a6e6e url("../img/fixrightbg.png") no-repeat -48px -50px;
}

.main .fixRight a.history i {
  background: #7a6e6e url("../img/fixrightbg.png") no-repeat -48px -100px;
}

.main .fixRight a.top i {
  background: #7a6e6e url("../img/fixrightbg.png") no-repeat -48px -250px;
}

.main .fixRight a:hover span {
  transform: translate(-70px);
  background: #c81623;
}

.main .fixRight a .active {
  background-color: #c81623 !important;
}

.main .fixRight a i {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}

.main .fixRight a span {
  position: absolute;
  padding-left: 10px;
  left: 0px;
  top: 0;
  width: 70px;
  height: 35px;
  line-height: 35px;
  background-color: #7a6e6e;
  transition: transform 0.5s;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  border-top: 1px solid #ddd;
  border-right: 1px solid #eee;
  padding-top: 10px;
}

.footer .sec1 {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.footer .sec1 .contact {
  width: 230px;
  float: left;
  border-right: 1px solid #ddd;
}

.footer .sec1 .info {
  float: left;
}

.footer .sec1 ul {
  border-left: 1px solid #fff;
}

.footer .sec1 li {
  padding: 20px 40px;
  float: left;
}

.footer .sec1 li h4 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.footer .sec1 li a {
  color: #999;
  font-size: 14px;
  margin-top: 2px;
}

.footer .sec1 li a:hover {
  text-decoration: underline;
  color: #c60;
}

.footer .sec2 {
  background: #f8f8f8;
  text-align: center;
}

.footer .sec2 .wrap {
  background: #f8f8f8;
}

.footer .sec2 .address {
  padding-top: 20px;
}

.footer .sec2 p {
  color: #999;
  margin-top: 4px;
  font-size: 12px;
}

.footer .sec2 p s {
  font-size: 20px;
  color: #c00;
  font-weight: 700;
  text-decoration: none;
}

.footer .sec2 .img {
  margin-top: 24px;
  padding-bottom: 24px;
}

.footer .sec2 a {
  display: inline-block;
  padding: 0 10px;
  color: #777;
  font-size: 12px;
  border-right: 1px solid #ddd;
}

.footer .sec2 a:hover {
  color: red;
  text-decoration: underline;
}
